#lottoArea {
	position: absolute;
    top: 30vh;
    left: 50vw;
    transform: translateX(-50%);
}
#lottoArea button{
	font-size: 1.5em;
	display: block;
	margin: auto;
	cursor: pointer;
}

#lottoArea #numberDiv {
	margin: 10px;
	height: 50px;
}

#lottoArea #numberDiv span{
	font-size: 2em;
	margin: auto;
    position:absolute;
    left: 0;
    right: 0;
	text-align: center;
	vertical-align: middle;
	width: 1.5em;
	height: 1.5em;
	line-height: 1.4em;
	transition: transform .4s ease-in-out 0s;
	color: white;
	border-radius: 50%;
	user-select: none;
	box-shadow: inset -.2em -.2em .3em rgba(0,0,0,.35);
}

#lottoArea .numOrder1 {
	transform: translateX(-5em)
}
#lottoArea .numOrder2 {
	transform: translateX(-3em)
}
#lottoArea .numOrder3 {
	transform: translateX(-1em)
}
#lottoArea .numOrder4 {
	transform: translateX(1em)
}
#lottoArea .numOrder5 {
	transform: translateX(3em)
}
#lottoArea .numOrder6 {
	transform: translateX(5em)
}

#lottoArea .numColor0{
	background-color: #FbC400
}
#lottoArea .numColor10{
	background-color: #69C8F2
}
#lottoArea .numColor20{
	background-color: #FF7272
}
#lottoArea .numColor30{
	background-color: #AAAAAA
}
#lottoArea .numColor40{
	background-color: #B0D840
}